@font-face {
    font-family: 'MPlus';
    src: url("/assets/fonts/MPLUS1p-Regular.ttf") format("truetype");
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(58,174,218);
background: linear-gradient(90deg, rgba(58,174,218,1) 0%, rgba(9,73,121,1) 50%, rgba(0,212,255,1) 100%);
}
h1{
    font-family: 'MPlus' !important;
    text-align: center;
    font-size: 35px;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 15px;
    background: rgb(157, 157, 255);
    width: 50%;
    margin: 100px auto;
}
button{
    width: 50%;
    padding: 15px;
    margin: 10px;
    background-color: rgb(98, 98, 255);
    border: none;
    border-radius: 15px;
    font-weight: bold;
}
button:hover{
    transition: all 0.5s ease;
    color: white;
    background-color: blue;
}
.money{
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
}
.exit{
    background-color: rgb(255, 71, 71);
}